<div #xi18n class="hide">
  <div data-key="router" i18n>Error Router not save</div>
  <div data-key="save.wait" i18n>wait request,ignore save request.</div>
  <div data-key="no.change" i18n>Not Data Change,ignore save</div>
  <div data-key="save.success" i18n>Save Success</div>
  <div data-key="request.wait" i18n>wait request,ignore request.</div>
  <div data-key="sure.title" i18n>Title Sure Remove Chapter</div>
  <div data-key="sure.text" i18n>Text Sure Remove Chapter</div>
  <div data-key="new.title" i18n>Chapter New Title</div>
  <div data-key="modify.title" i18n>Chapter Modify Title</div>
  <div data-key="copyied" i18n>Code Ccopyied</div>
</div>
<div class='clipboard-view'>
  <textarea #inputClipboard id="btn-clipboard-input"></textarea>
  <button #btnClipboard class="btn-clipboard" data-clipboard-target="#btn-clipboard-input">copy
  </button>
</div>
<mat-drawer-container>
  <mat-drawer class="sidenav-left" mode="side" [opened]="isChapter()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/edit',book?.ID,'0']">
        <p matLine>{{book?.Name}}</p>
      </a>
      <mat-divider></mat-divider>
      <div [sortablejs]="book?.Chapter">
        <a mat-list-item *ngFor="let item of book?.Chapter;" [routerLink]="['/edit',book?.ID,item.ID]">
          <p matLine>{{item.Name}}</p>
          <button class="menu-btn" mat-icon-button [disabled]="isRequest" i18n-matTooltip matTooltip="Edit Chapter" (click)="onChapterEdit($event,book,item.ID,item.Name)"><mat-icon>edit</mat-icon></button>
          <button class="menu-btn" mat-icon-button [disabled]="isRequest" i18n-matTooltip matTooltip="Delete Chapter" (click)="onChapterRemove($event,book,item.ID,item.Name)"><mat-icon>delete</mat-icon></button>
        </a>
      </div>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button class="menu-btn" mat-icon-button [disabled]="isRequest" i18n-matTooltip matTooltip="New Chapter" (click)="onChapterNew(book)">
          <mat-icon>add</mat-icon>
        </button>
        <button class="menu-btn" mat-icon-button [disabled]="isRequest" i18n-matTooltip matTooltip="Sort Chapter" (click)="onChapterSort(book)">
          <mat-icon>sort</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer class="sidenav-right" mode="side" [opened]="isHeader()" position="end">
    <app-markdown-bar [items]="markdown?.Header" (valChange)="onChange($event)"></app-markdown-bar>
  </mat-drawer>
  <mat-drawer-content>
    <div class="navigate-view">
      <a [routerLink]="['/view', previous.Book,previous.Chapter]" *ngIf="previous">
        <button mat-button class="previous no-outline">
          <mat-icon>navigate_before</mat-icon>
          {{previous.Name}}
        </button>
      </a>
      <div class="navigate-fill">
        <div class="title">{{title}}</div>
      </div>
      <a [routerLink]="['/view', next.Book,next.Chapter]" *ngIf="next">
        <button mat-button class="next no-outline">
          {{next.Name}}
          <mat-icon>navigate_next</mat-icon>
        </button>
      </a>
    </div>

    <section #view highlight-js-content="code">
      <textarea #textarea></textarea>
    </section>

    <div class="navigate-view">
      <a [routerLink]="['/view', previous.Book,previous.Chapter]" *ngIf="previous">
        <button mat-button class="previous no-outline">
          <mat-icon>navigate_before</mat-icon>
          {{previous.Name}}
        </button>
      </a>
      <div class="navigate-fill">
        <div class="title">{{title}}</div>
      </div>
      <a [routerLink]="['/view', next.Book,next.Chapter]" *ngIf="next">
        <button mat-button class="next no-outline">
          {{next.Name}}
          <mat-icon>navigate_next</mat-icon>
        </button>
      </a>
    </div>
  </mat-drawer-content>
</mat-drawer-container>