<div class="hide" #msgSure i18n></div>
<div class="hide" #msgTitle i18n></div>
<div #xi18n class="hide">
  <div data-key="sure" i18n>Sure? Remove File</div>
  <div data-key="title" i18n>Title Sure Remove File</div>
  <div data-key="copied" i18n>Copied</div>
</div>

<div class='clipboard-view'>
  <textarea #inputClipboard id="btn-clipboard-input-files-view"></textarea>
  <button #btnClipboard class="btn-clipboard-files-view" data-clipboard-target="#btn-clipboard-input-files-view">
    copy
  </button>
</div>

<div [appShow]="!isInit && request">
  <p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </p>
  <p>
    <ng-container i18n>connecting to server, please wait...</ng-container>
  </p>
</div>
<div class="alert alert-warning" role="alert" [appShow]="error">
  <strong i18n>Error</strong> {{error}}
  <hr>
  <button mat-button i18n (click)="Refresh()" [disabled]="isDisabled()">Retry</button>
</div>
<mat-list>
  <mat-list-item *ngFor="let item of items;">
    <p matLine>assets/{{item}}</p>
    <button class="menu-btn" mat-icon-button (click)="onCopy(item)" i18n-matTooltip matTooltip="Copy">
      <mat-icon>file_copy</mat-icon>
    </button>
    <button class="menu-btn" mat-icon-button [disabled]="isDisabled()" (click)="onRename(item)" i18n-matTooltip matTooltip="Edit">
      <mat-icon>create</mat-icon>
    </button>
    <button class="menu-btn" mat-icon-button [disabled]="isDisabled()" (click)="onRemove(item)" i18n-matTooltip matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>