<form #form="ngForm" class="search" (submit)="onSubmit()">
    <mat-form-field class="field">
        <input matInput i18n-placeholder [disabled]="disabled" placeholder="Book Name Search Placeholder" name="id"
            [(ngModel)]="bookName">
    </mat-form-field>
    <mat-form-field class="field">
        <input matInput i18n-placeholder sharedValidatorBookFind [disabled]="disabled"
            placeholder="Book Search Placeholder" name="name" [(ngModel)]="bookID">
        <mat-error i18n>ID Invalid</mat-error>
    </mat-form-field>
    <button mat-button [disabled]="disabled || form.invalid" i18n>Search</button>
    <button type="button" (click)="onClickNew()" mat-button [disabled]="disabled" i18n>New</button>
</form>
<p *ngIf="disabled">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</p>
<mat-list>
    <mat-list-item *ngFor="let item of items">
        <mat-icon matListAvatar color="primary">book</mat-icon>
        <p matLine>{{item.name}}</p>
        <a matLine routerLink="/view/{{item.id}}/0">view/{{item.id}}</a>
        <a matLine routerLink="/edit/{{item.id}}/0">edit/{{item.id}}</a>
        <button (click)="onClickRename(item)" [disabled]="disabled" mat-icon-button i18n-matTooltip
            matTooltip="Rename Tooltip">
            <mat-icon>create</mat-icon>
        </button>
        <button *ngIf="item.id != 'home'" (click)="onClickChangeID(item)" [disabled]="disabled" mat-icon-button
            i18n-matTooltip matTooltip="ChangeID Tooltip">
            <mat-icon>timeline</mat-icon>
        </button>
        <button *ngIf="item.id != 'home'" (click)="onClickRemove(item)" [disabled]="disabled" 
            mat-icon-button i18n-matTooltip matTooltip="Remove Tooltip">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>
</mat-list>