<mat-card>
  <mat-card-title>angular view</mat-card-title>
  <mat-card-content>
    <p>angular {{version.full}}</p>
    <p>{{view.Version}}</p>
    <p>{{view.Commit}}</p>
    <p>build at {{view.Date}}</p>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="srvVersion">
  <mat-card-title>revel server</mat-card-title>
  <mat-card-content>
    <p>{{srvVersion.Platform}}</p>
    <p>{{srvVersion.Version}}</p>
    <p>{{srvVersion.Commit}}</p>
    <p>build at {{srvVersion.Date}}</p>
  </mat-card-content>
</mat-card>