<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- ie webkit -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">

  <title>book</title>
  <base href="/angular/">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">

  <!-- <script src="assets/js/highlight/9.12.0/highlight.pack.js"></script> -->

  <!-- highlight -->
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/highlight.min.js"></script>

  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/shell.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/bash.min.js"></script>

  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/ini.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/json.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/protobuf.min.js"></script>

  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/xml.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/css.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/scss.min.js"></script>

  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/cpp.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/go.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/dart.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/java.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/javascript.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/typescript.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/python.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/lua.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/sql.min.js"></script>

  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/cmake.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/makefile.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/dockerfile.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/gradle.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/http.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/markdown.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/nginx.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/yaml.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/less.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.6/languages/vim.min.js"></script>

  <!-- mathjax -->
  <script src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=XXX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
  </script> -->

  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#1976d2">
</head>

<body>
  <app-root></app-root>
  <noscript>Please enable JavaScript to continue using this application.</noscript>
  </head>

  <body>
    <app-root></app-root>
  </body>

</html>