/* You can add global styles to this file, and also import other style files */
@import "assets/css/bootstrap.min.css";
@import "assets/css/Material.Icons.css";
@import "assets/js/highlight/9.12.0/styles/androidstudio.css";
@import "~angular2-toaster/toaster.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css"; 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~simplemde/dist/simplemde.min.css";
.menu-btn{
    outline: 0 none !important;
    border: none;
}
.center{
    display:flex;           /*Flex布局*/
    align-items:center;     /*指定垂直居中*/
    justify-content:center; /*指定水平居中*/
}
.hide{
    display: none;
}
.pointer{
    cursor: pointer;
}
.full-width {
    width: 100%;
}
