<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>View</title>
  <base href="/angular/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/css/fontawesome.min.css">
  <link rel="stylesheet" href="/static/css/androidstudio.css">
  <link rel="stylesheet" href="/static/css/simplemde.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/require.min.js"></script>
  <link rel="manifest" href="manifest.webmanifest">
  <meta name="theme-color" content="#1976d2">
</head>

<body>
  <app-root></app-root>
  <script>
    var requireLoad = require
    // 配置動態加載腳本
    requirejs.config({
      // js 加載 根目錄
      baseUrl: '/static/js',
      paths: {
        'sha512': 'sha512.min',
        'jquery': 'jquery.min',
        'showdown': 'showdown.min',
        'clipboard': 'clipboard.min',
        'MathJax': 'MathJax-2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML',
        'highlight': 'highlight.pack',
        'simplemde': 'simplemde.min',
        'adsbygoogle': 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle',
      },
    })
  </script>

  <noscript>Please enable JavaScript to continue using this application.</noscript>
</body>

</html>