<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>View</title>
  <base href="/angular/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/css/fontawesome.min.css">
  <link rel="stylesheet" href="/static/css/androidstudio.css">

  <!-- highlight -->
</head>

<body>
  <app-root></app-root>
  <script src="/static/js/require.min.js"></script>
  <script>
    var requireLoad = require
    // 配置動態加載腳本
    var paths = {
      'sha512': 'sha512.min',
      'jquery': 'jquery.min',
      'showdown': 'showdown.min',
      'clipboard': 'clipboard.min',
      'MathJax': ['https://cdn.bootcdn.net/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML', 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML'],
      'highlight': ['https://cdn.bootcdn.net/ajax/libs/highlight.js/9.18.3/highlight.min', 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min'],
    }
    var highlight = ['shell', 'bash',
      'plaintext', 'ini', 'json', 'yaml', 'protobuf',
      'xml', 'css', 'scss', 'less',
      'cpp', 'go', 'dart', 'java', 'javascript', 'typescript', 'python', 'lua', 'sql', 'kotlin',
      'cmake', 'makefile', 'dockerfile', 'gradle', 'http', 'markdown', 'nginx', 'vim',
    ]
    var shim = {}
    var deps = ['highlight']
    for (var i = 0; i < highlight.length; i++) {
      paths[highlight[i]] = ["https://cdn.bootcdn.net/ajax/libs/highlight.js/9.18.3/languages/" + highlight[i] + ".min", "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/languages/" + highlight[i] + ".min"]
      shim[highlight[i]] = {
        deps: deps
      }
    }
    requirejs.config({
      // js 加載 根目錄
      baseUrl: '/static/js',
      paths: paths,
      shim: shim,
    })
  </script>

</body>

</html>