/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular2-toaster/toaster.min.css";

/* Material Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/font/flUhRq6tzZclQEJ_Vdg_IuiaDsNc.woff2);
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.fill-flex{
    flex: 1 1 auto;
}
.hide{
    display: none;
}
.max-fill-width{
    max-width: 100%;
}
.pointer{
    cursor: pointer;
}
.full-width {
    width: 100%;
}
.left8{
    margin-left: 8px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: #0056b3;
    text-decoration: underline;
}
// markdown
.markdown .hljs {
    color: #a9b7c6;
    background: #282b2e;
    display: inline;
    overflow-x: auto;
    padding: 0.5em;
}
.markdown pre .hljs {
    color: #a9b7c6;
    background: #282b2e;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
.markdown pre .text{
    color: #a9b7c6;
    background: #282b2e;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
.markdown pre .txt{
    color: #a9b7c6;
    background: #282b2e;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
.markdown .code-view{
    position: relative;
    white-space: nowrap;
}
.markdown .clipboard {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
.markdown .clipboard:active{
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
}
.markdown blockquote{
    color: rgb(116, 129, 141);
    margin: 0px 16px 24px;
    padding: 19px 16px 1px 12px;
    background: #E0EBF5;
    border-radius: 8px;
}
.markdown{
    padding-left: 2px;
}
.fill-flex{
    flex: 1 1 auto;
}
.markdown .code-view ol {
	margin-bottom: 0px;
}

/* SimpleMDE 高度 */
@media screen and (max-height: 600px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 300px;
    }
}
@media screen and (min-height: 600px) and (max-height: 650px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 350px;
    }
}
@media screen and (min-height: 650px) and (max-height: 700px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 400px;
    }
}
@media screen and (min-height: 700px) and (max-height: 750px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 450px;
    }
}
@media screen and (min-height: 750px) and (max-height: 800px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 500px;
    }
}
@media screen and (min-height: 800px) and (max-height: 850px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 550px;
    }
}
@media screen and (min-height: 850px) and (max-height: 900px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 600px;
    }
}
@media screen and (min-height: 900px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 650px;
    }
}

.CodeMirror-fullscreen.CodeMirror {
    max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}

.ads{
    min-width: 320px;
    width: 100%;
    min-height: 50px;
    text-align: center;
}
// bootstrap table
table {
border-collapse: collapse;
}
.table {
width: 100%;
margin-bottom: 1rem;
color: #212529;
}

.table th,
.table td {
padding: 0.75rem;
vertical-align: top;
border-top: 1px solid #dee2e6;
}

.table thead th {
vertical-align: bottom;
border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
padding: 0.3rem;
}

.table-bordered {
border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
color: #212529;
background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
background-color: #b8daff;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
border-color: #7abaff;
}

.table-hover .table-primary:hover {
background-color: #9fcdff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
background-color: #9fcdff;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
background-color: #d6d8db;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
border-color: #b3b7bb;
}

.table-hover .table-secondary:hover {
background-color: #c8cbcf;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
background-color: #c8cbcf;
}

.table-success,
.table-success > th,
.table-success > td {
background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
border-color: #8fd19e;
}

.table-hover .table-success:hover {
background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
background-color: #bee5eb;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
border-color: #86cfda;
}

.table-hover .table-info:hover {
background-color: #abdde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
background-color: #abdde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
background-color: #ffeeba;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
border-color: #ffdf7e;
}

.table-hover .table-warning:hover {
background-color: #ffe8a1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
background-color: #f5c6cb;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
border-color: #ed969e;
}

.table-hover .table-danger:hover {
background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
background-color: #f1b0b7;
}

.table-light,
.table-light > th,
.table-light > td {
background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
border-color: #fbfcfc;
}

.table-hover .table-light:hover {
background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
background-color: #c6c8ca;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
border-color: #95999c;
}

.table-hover .table-dark:hover {
background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
background-color: #b9bbbe;
}

.table-active,
.table-active > th,
.table-active > td {
background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
color: #fff;
background-color: #343a40;
border-color: #454d55;
}

.table .thead-light th {
color: #495057;
background-color: #e9ecef;
border-color: #dee2e6;
}

.table-dark {
color: #fff;
background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
border-color: #454d55;
}

.table-dark.table-bordered {
border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(255, 255, 255, 0.05);
}