/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular2-toaster/toaster.min.css";

/* Material Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/font/flUhRq6tzZclQEJ_Vdg_IuiaDsNc.woff2);
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.fill-flex{
    flex: 1 1 auto;
}
.hide{
    display: none;
}
.max-fill-width{
    max-width: 100%;
}
.pointer{
    cursor: pointer;
}
.full-width {
    width: 100%;
}
.left8{
    margin-left: 8px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: #0056b3;
    text-decoration: underline;
}
// markdown
.markdown .hljs {
    color: #a9b7c6;
    background: #282b2e;
    display: inline;
    overflow-x: auto;
    padding: 0.5em;
}
.markdown pre .hljs {
    color: #a9b7c6;
    background: #282b2e;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
.markdown pre .text{
    color: #a9b7c6;
    background: #282b2e;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
.markdown pre .txt{
    color: #a9b7c6;
    background: #282b2e;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
.markdown .code-view{
    position: relative;
    white-space: nowrap;
}
.markdown .clipboard {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
.markdown .clipboard:active{
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
}
.markdown blockquote{
    color: rgb(116, 129, 141);
    margin: 0px 16px 24px;
    padding: 19px 16px 1px 12px;
    background: #E0EBF5;
    border-radius: 8px;
}
.markdown{
    padding-left: 2px;
}
.fill-flex{
    flex: 1 1 auto;
}
.markdown .code-view ol {
	margin-bottom: 0px;
}

/* SimpleMDE 高度 */
@media screen and (max-height: 600px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 300px;
    }
}
@media screen and (min-height: 600px) and (max-height: 650px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 350px;
    }
}
@media screen and (min-height: 650px) and (max-height: 700px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 400px;
    }
}
@media screen and (min-height: 700px) and (max-height: 750px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 450px;
    }
}
@media screen and (min-height: 750px) and (max-height: 800px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 500px;
    }
}
@media screen and (min-height: 800px) and (max-height: 850px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 550px;
    }
}
@media screen and (min-height: 850px) and (max-height: 900px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 600px;
    }
}
@media screen and (min-height: 900px){ 
    .CodeMirror,
    .CodeMirror-scroll {
        max-height: 650px;
    }
}

.CodeMirror-fullscreen.CodeMirror {
    max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}
