<form #form="ngForm" (submit)="onSure()">
    <h1 mat-dialog-title i18n>Book Reid Title</h1>
    <div mat-dialog-content>
      <mat-form-field class="full-width">
        <input matInput appValidatorsId i18n-placeholder placeholder="Book Search Placeholder" name="id" [(ngModel)]="data.val">
        <mat-error i18n>ID Invalid</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button type="submit" mat-button [disabled]="form.invalid" i18n>Sure</button>
      <button type="button" mat-button (click)="onCancel()" i18n>Cancel</button>
    </div>
  </form>