<!-- 導航欄 -->
<div [appHide]="isFull()">
  <mat-toolbar class="header" color="primary">
    <button routerLink="/view/home/0" class="menu-btn" mat-icon-button i18n-matTooltip matTooltip="Home Tooltip">
      <mat-icon>home</mat-icon>
    </button>
    <button (click)="openSource()" class="menu-btn" mat-icon-button i18n-matTooltip matTooltip="Source Tooltip">
      <mat-icon>code</mat-icon>
    </button>
    <button routerLink="/license" class="menu-btn" mat-icon-button i18n-matTooltip matTooltip="License Tooltip">
      <mat-icon>import_contacts</mat-icon>
    </button>
    <button routerLink="/about" class="menu-btn" mat-icon-button i18n-matTooltip matTooltip="About Tooltip">
      <mat-icon>info</mat-icon>
    </button>
    <span style="flex: 1 1 auto;"></span>
    <div [appShow]="isPageView()">
      <button [routerLink]="['/edit',getBookID(),getChapterID()]" class="menu-btn" mat-icon-button i18n-matTooltip matTooltip="Edit Tooltip">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div [appShow]="isPageEdit()">
      <button [routerLink]="['/view',getBookID(),getChapterID()]" class="menu-btn" mat-icon-button i18n-matTooltip matTooltip="View Tooltip">
        <mat-icon>book</mat-icon>
      </button>
    </div>
    <div [appShow]="session">
      <button class="menu-btn" mat-icon-button matTooltip="{{session?.Nickname}}" [matMenuTriggerFor]="menuPerson">
        <mat-icon>person_pin</mat-icon>
      </button>
      <mat-menu #menuPerson="matMenu">
        <button class="menu-btn" mat-menu-item (click)="onLogout()">
          <mat-icon>no_meeting_room</mat-icon>
          <ng-container i18n>Logout</ng-container>
        </button>
        <button class="menu-btn" mat-menu-item (click)="onRouter(['/books'])">
          <mat-icon>book</mat-icon>
          <ng-container i18n>Books Management</ng-container>
        </button>
      </mat-menu>
    </div>
    <div [appHide]="session">
      <button (click)="onLogin()" class="menu-btn" mat-icon-button i18n-matTooltip matTooltip="Login Tooltip">
        <mat-icon>input</mat-icon>
      </button>
    </div>
    <button class="menu-btn" mat-icon-button i18n-matTooltip matTooltip="Apps Tooltip" [matMenuTriggerFor]="menu">
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="menu-btn" mat-menu-item (click)="toggleChapter()">
        <mat-icon>{{isChapter()?'close':'menu'}}</mat-icon>
        <ng-container i18n>Book Chapter</ng-container>
      </button>
      <button class="menu-btn" mat-menu-item (click)="toggleHeader()">
        <mat-icon>{{isHeader()?'close':'menu'}}</mat-icon>
        <ng-container i18n>Book Chapter Header</ng-container>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>