<button #btnClipboard class="hide" data-clipboard-text="">copy</button>
<mat-drawer-container>
    <mat-drawer class="sidenav-left" mode="side" [opened]="chapter">
        <mat-nav-list>
            <ng-container *ngIf="ads;then adsView;else noadsView;"></ng-container>
            <ng-template #adsView>
                <a [href]="prepareExternalUrl('/view', book?.id,'0')" mat-list-item>{{book?.name}}</a>
                <mat-divider></mat-divider>
                <a *ngFor="let item of book?.chapter;" [href]="prepareExternalUrl('/view', book?.id, item.id)"
                    mat-list-item>{{item.name}}</a>
            </ng-template>
            <ng-template #noadsView>
                <a [routerLink]="['/view', book?.id,'0']" mat-list-item>{{book?.name}}</a>
                <mat-divider></mat-divider>
                <a *ngFor="let item of book?.chapter;" [routerLink]="['/view', book?.id, item.id]"
                    mat-list-item>{{item.name}}</a>
            </ng-template>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer class="sidenav-right" mode="side" [opened]="header" position="end">
        <markdown-bar [items]="markdown?.Header" (valChange)="onChange($event)"></markdown-bar>
    </mat-drawer>
    <mat-drawer-content>
        <markdown-navigate [ads]="ads" [previous]="previous?true:false"
            [previousUrl]="'/view/'+previous?.book+'/'+previous?.chapter" [previousName]="previous?.name"
            [next]="next?true:false" [nextUrl]="'/view/'+next?.book+'/'+next?.chapter" [nextName]="next?.name"
            [title]="title">
        </markdown-navigate>

        <div class="markdown">
            <section #view [innerHtml]="markdown?.HTML" highlight-js-content="code">
            </section>
        </div>

        <markdown-navigate *ngIf="text && markdown && markdown.HTML" [ads]="ads" [previous]="previous?true:false"
            [previousUrl]="'/view/'+previous?.book+'/'+previous?.chapter" [previousName]="previous?.name"
            [next]="next?true:false" [nextUrl]="'/view/'+next?.book+'/'+next?.chapter" [nextName]="next?.name"
            [title]="title">
        </markdown-navigate>

    </mat-drawer-content>
</mat-drawer-container>