<button #btnClipboard class="hide" data-clipboard-text="">copy</button>
<mat-drawer-container>
    <mat-drawer class="sidenav-left" mode="side" [opened]="chapter">
        <mat-nav-list>
            <a [routerLink]="['/view', book?.id,'0']" mat-list-item>{{book?.name}}</a>
            <mat-divider></mat-divider>
            <a *ngFor="let item of book?.chapter;" [routerLink]="['/view', book?.id, item.id]"
                mat-list-item>{{item.name}}</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer class="sidenav-right" mode="side" [opened]="header" position="end">
        <markdown-bar [items]="markdown?.Header" (valChange)="onChange($event)"></markdown-bar>
    </mat-drawer>
    <mat-drawer-content>
        <div class="navigate-view">
            <a [routerLink]="['/view', previous.book,previous.chapter]" *ngIf="previous">
                <button mat-button class="previous no-outline">
                    <mat-icon>navigate_before</mat-icon>
                    {{previous.name}}
                </button>
            </a>
            <div class="navigate-fill">
                <div class="title">{{title}}</div>
            </div>
            <a [routerLink]="['/view', next.book,next.chapter]" *ngIf="next">
                <button mat-button class="next no-outline">
                    {{next.name}}
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </a>
        </div>

        <shared-ads [ads]="adSene?.top" [display]="'inline-block'" [adFormat]="'auto'" [fullWidthResponsive]='true'
            [className]="'ads'">
        </shared-ads>

        <div #view class="markdown">
            <div *ngFor="let html of markdown?.HTMLS;let i = index">
                <shared-ads [ads]="getAds(i,markdown.HTMLS.length)" [display]="'inline-block'" [adFormat]="'auto'"
                    [fullWidthResponsive]='true' [className]="'ads'">
                </shared-ads>
                <section [innerHtml]="html" highlight-js-content="code">
                </section>
            </div>
        </div>

        <shared-ads [ads]="adSene?.bottom" [display]="'inline-block'" [adFormat]="'auto'" [fullWidthResponsive]='true'
            [className]="'ads'">
        </shared-ads>

        <div class="navigate-view" *ngIf="text && markdown && markdown.HTML">
            <a [routerLink]="['/view', previous.book,previous.chapter]" *ngIf="previous">
                <button mat-button class="previous no-outline">
                    <mat-icon>navigate_before</mat-icon>
                    {{previous.name}}
                </button>
            </a>
            <div class="navigate-fill">
                <div class="title">{{title}}</div>
            </div>
            <a [routerLink]="['/view', next.book,next.chapter]" *ngIf="next">
                <button mat-button class="next no-outline">
                    {{next.name}}
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </a>
        </div>

    </mat-drawer-content>
</mat-drawer-container>

<shared-ads [ads]="adSene?.top" [display]="'inline-block'" [adFormat]="'auto'" [fullWidthResponsive]='true'
    [className]="'ads'">
</shared-ads>

<shared-ads-auto [ads]="adSene?.auto"></shared-ads-auto>