<shared-navigation-bar></shared-navigation-bar>

<router-outlet></router-outlet>

<toaster-container [toasterconfig]="config"></toaster-container>
<div #xi18n style="display: none;">
    <div data-key="About" i18n>About Tooltip</div>
    <div data-key="License" i18n>License Tooltip</div>
    <div data-key="Version" i18n>Version</div>
    <div data-key="Git Command" i18n>Git Command</div>
    <div data-key="Books Management" i18n>Books Management</div>
    <div data-key="Loading" i18n>Loading</div>
    <div data-key="Error" i18n>Error</div>
    <div data-key="copyied" i18n>copyied</div>
    <div data-key="not saved" i18n>not saved</div>
    <div data-key="not changed" i18n>not changed</div>
    <div data-key="waiting save" i18n>waiting save</div>
    <div data-key="save success" i18n>save success</div>
    <div data-key="save sort success" i18n>save sort success</div>
    <div data-key="new chapter success" i18n>new chapter success</div>
    <div data-key="save chapter success" i18n>save chapter success</div>
    <div data-key="remove chapter success" i18n>remove chapter success</div>
</div>