<shared-navigation-bar></shared-navigation-bar>

<router-outlet></router-outlet>

<toaster-container [toasterconfig]="config"></toaster-container>
<div #xi18n style="display: none;">
    <div data-key="About" i18n>About Tooltip</div>
    <div data-key="License" i18n>License Tooltip</div>
    <div data-key="Version" i18n>Version</div>
    <div data-key="Git Command" i18n>Git Command</div>
    <div data-key="Books Management" i18n>Books Management</div>
    <div data-key="Loading" i18n>Loading</div>
    <div data-key="Error" i18n>Error</div>
</div>