<form #form="ngForm" (submit)="onSure()">
    <h1 mat-dialog-title i18n>Book New Title</h1>
    <div mat-dialog-content>
        <mat-form-field class="full-width">
            <input matInput required i18n-placeholder placeholder="Book Name Search Placeholder" name="name"
                [(ngModel)]="data.name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput required sharedValidatorId i18n-placeholder placeholder="Book Search Placeholder" name="id"
                [(ngModel)]="data.id">
            <mat-error i18n>ID Invalid</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-button [disabled]="form.invalid" i18n>Sure</button>
        <button type="button" mat-button (click)="onCancel()" i18n>Cancel</button>
    </div>
</form>