<div class="fill"></div>
<mat-toolbar class="header" color="primary">
    <a routerLink="/">
        <button mat-icon-button i18n-matTooltip matTooltip="Home Tooltip">
            <mat-icon>home</mat-icon>
        </button>
    </a>
    <a href="https://gitlab.com/king011/book-web" target="_blank">
        <button mat-icon-button i18n-matTooltip matTooltip="Source Tooltip">
            <mat-icon>code</mat-icon>
        </button>
    </a>

    <a routerLink="/content/license">
        <button mat-icon-button i18n-matTooltip matTooltip="License Tooltip">
            <mat-icon>import_contacts</mat-icon>
        </button>
    </a>

    <a routerLink="/content/about">
        <button mat-icon-button i18n-matTooltip matTooltip="About Tooltip">
            <mat-icon>info</mat-icon>
        </button>
    </a>

    <span class="fill-flex"></span>
</mat-toolbar>