<shared-ads [ads]="adSene?.top" [display]="'inline-block'" [adFormat]="'auto'" [fullWidthResponsive]='true'
    [className]="'ads'">
</shared-ads>

<mat-card>
    <mat-card-title>
        Book Web
    </mat-card-title>
    <mat-card-content>
        <p i18n>About content</p>
        <p i18n>About content2</p>
        <p i18n>About content3</p>
    </mat-card-content>
</mat-card>

<p>
    <mat-card>
        <mat-card-title>
            3rdpartylicenses.txt
        </mat-card-title>
        <mat-card-content>
            <pre>{{content}}</pre>
        </mat-card-content>
    </mat-card>
</p>
<shared-ads [ads]="adSene?.bottom" [display]="'inline-block'" [adFormat]="'auto'" [fullWidthResponsive]='true'
    [className]="'ads'">
</shared-ads>