<div #xi18n class="hide">
  <div data-key="title" i18n>Cache Management</div>
  <div data-key="save.success" i18n>Save Success,Effective after refresh page</div>
</div>

<p *ngIf="!isSupported">
  <ng-container i18n>not supported indexedDB,unable to enable cache.</ng-container>
</p>
<mat-accordion *ngIf="isSupported">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <ng-container i18n>Cache Setting</ng-container>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      <mat-slide-toggle [(ngModel)]="cache.enable">
        <span i18n [appShow]="cache.enable">Enable cache</span>
        <span i18n [appHide]="cache.enable">Disable cache</span>
      </mat-slide-toggle>
    </p>
    <mat-form-field class="full-width">
      <input matInput i18n-placeholder [disabled]="!cache.enable" placeholder="please input cache capacity" [(ngModel)]="cache.capacity">
    </mat-form-field>

    <button class="no-outline" mat-button (click)="onSave()" i18n>Save</button>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        indexedDB
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button class="no-outline item" [disabled]="request" mat-button (click)="onClearDB()" i18n>Clear</button>
    <div class="search">
      <mat-form-field class="fill-flex item">
        <input matInput [disabled]="request" i18n-placeholder placeholder="please input search key" [(ngModel)]="key">
      </mat-form-field>
      <button class="no-outline item" [disabled]="request" mat-button (click)="onSearch()" i18n>Search</button>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let item of items;">
        <p matLine>{{item.ID}}</p>
        <p matLine>{{item.MD5}}</p>
        <p matLine>{{getSize(item.Size)}}</p>
        <button type="button" class="no-outline item" [disabled]="request" mat-button (click)="onDelete(item.ID)" i18n>Delete</button>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>