li{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #74818D;
    margin-bottom: 4px;
}
.li2{
    margin-left: 12px;
}
.li3{
    margin-left: 24px;
}
.li4{
    margin-left: 36px;
}
.li5{
    margin-left: 48px;
}
.li6{
    margin-left: 60px;
}